@model E_PortfolioSystem.Web.ViewModels.Profile.ResumeViewModel
@using static E_PortfolioSystem.Common.GeneralApplicationConstants

<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">@Resume на</span></h1>
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">@Model.FullName</span></h1>

        <a class="btn btn-primary px-4 py-3 mt-4"
           asp-controller="Profile"
           asp-action="DownloadCV">
            <i class="bi bi-download me-2"></i> @CVDownload
        </a>
    </div>

    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section -->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">@Experience</h2>
                    <a asp-controller="Experience" asp-action="Add" class="btn btn-outline-success">
                        Добави
                    </a>
                </div>

                @if (Model.Experiences.Any())
                {
                    @foreach (var exp in Model.Experiences)
                    {
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">
                                                @exp.StartDate.ToString("yyyy") - @(exp.EndDate?.ToString("yyyy") ?? "Present")
                                            </div>
                                            <div class="small fw-bolder">@exp.Profession</div>
                                            <div class="small text-muted">@exp.Company</div>
                                            <div class="small text-muted">@exp.Location</div>
                                            <a asp-controller="Experience" asp-action="Details" asp-route-id="@exp.Id" class="btn btn-outline-primary mt-2">Детайли</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8"><div>@exp.Description</div></div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col-lg-8"><div>Няма добавени данни за опит</div></div>
                            </div>
                        </div>
                    </div>
                }
            </section>

            <!-- Education Section -->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-secondary fw-bolder mb-0">Образование</h2>
                    <a asp-controller="Education" asp-action="Add" class="btn btn-outline-success">
                        Добави
                    </a>
                </div>
                @if (Model.Educations.Any())
                {
                    @foreach (var edu in Model.Educations)
                    {
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">
                                                @edu.StartDate.ToString("yyyy") - @edu.EndDate.ToString("yyyy")
                                            </div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">@edu.Institution</div>
                                                <div class="small text-muted">@edu.Location</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">@edu.Degree</div>
                                                <div class="small text-muted">@edu.Specialty</div>
                                            </div>
                                            <a asp-controller="Education" asp-action="Details" asp-route-id="@edu.Id" class="btn btn-outline-secondary mt-2">Детайли</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>@edu.Faculty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col-lg-8"><div>Няма добавени данни за образование</div></div>
                            </div>
                        </div>
                    </div>
                }
            </section>

            <!-- Skills Section -->
            <section class="mb-5">
                <div class="card shadow border-0 rounded-4">
                    <div class="card-body p-5">
                        <div class="mb-5">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="feature bg-primary text-white rounded-3 me-3">
                                        <i class="bi bi-tools"></i>
                                    </div>
                                    <h3 class="fw-bolder mb-0">
                                        <span class="text-gradient d-inline">Умения</span>
                                    </h3>
                                </div>
                                <a asp-controller="Skill" asp-action="Add" class="btn btn-outline-success">
                                    Добави
                                </a>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                @if (Model.Skills.Any())
                                {
                                    @foreach (var skill in Model.Skills)
                                    {
                                        <div class="col mb-4">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                @skill.Name (@skill.Level)
                                                <a asp-controller="Skill" asp-action="Details" asp-route-id="@skill.Id" class="btn btn-sm btn-outline-primary ms-4">Детайли</a>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-lg-8"><div>Няма добавени данни за умения</div></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Certificates Section -->
            <section class="mb-5">
                <div class="card shadow border-0 rounded-4">
                    <div class="card-body p-5">
                        <div class="mb-5">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="feature bg-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-award-fill"></i>
                                    </div>
                                    <h3 class="fw-bolder mb-0">
                                        <span class="text-gradient d-inline">Сертификати</span>
                                    </h3>
                                </div>
                                <a asp-controller="Certificate" asp-action="Add" class="btn btn-outline-success">
                                    Добави
                                </a>
                            </div>

                            @if (Model.Certificates.Any())
                            {
                                @foreach (var cert in Model.Certificates)
                                {
                                    <div class="card shadow border-0 rounded-4 mb-4">
                                        <div class="card-body p-4">
                                            <div class="row align-items-center gx-4">
                                                <div class="col text-center text-lg-start mb-3 mb-lg-0">
                                                    <div class="bg-light p-3 rounded-4">
                                                        <div class="text-secondary fw-bolder mb-2">
                                                            @cert.Title
                                                        </div>
                                                        <div class="small text-muted">Издаден от: @cert.Issuer</div>
                                                        <div class="small text-muted">Дата: @(cert.IssuedDate?.ToString("dd.MM.yyyy") ?? "Неизвестна")</div>

                                                        <a asp-controller="Certificate" asp-action="Details" asp-route-id="@cert.Id" class="btn btn-sm btn-outline-secondary mt-2">Детайли</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="text-muted">Няма добавени сертификати.</div>
                            }
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>
