@using E_PortfolioSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@using static E_PortfolioSystem.Common.GeneralApplicationConstants;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@Title</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS -->
    <link href="~/css/styles.css" rel="stylesheet" />

    <!-- Additional site CSS -->
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="d-flex flex-column h-100">
    <partial name="_NotificationsPartial" />
    <header class="py-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="fw-bolder text-primary">@Title</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item">
                                <a class="nav-link text-dark position-relative" asp-controller="Notification" asp-action="Index">
                                    <i class="bi bi-bell"></i>
                                    <span id="notification-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                            </li>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                if (User.IsInRole(AdminRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Manage">
                                            <i class="bi bi-people"></i> Управление на потребители
                                        </a>
                                    </li>
                                }
                                else if (User.IsInRole(StudentRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Subject" asp-action="Subjects">Университет</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Resume">Резюме</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Projects">Проекти</a>
                                    </li>
                                }
                                else if (User.IsInRole(TeacherRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Teacher" asp-action="Subjects">Предмети</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Teacher" asp-action="All">Студенти</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark position-relative" asp-controller="Chat" asp-action="Index">
                                    <i class="bi bi-chat"></i>
                                    <span id="messages-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        @RenderBody()
    </main>

    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">
                        &copy; @Title @ReleaseYear
                        @if (DateTime.UtcNow.Year != ReleaseYear)
                        {
                            @Html.Raw($" - {DateTime.UtcNow.Year}")
                        }
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS -->
    <script src="~/js/scripts.js"></script>

    <!-- Optional site JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <script>
            function updateNotificationCount() {
                $.get('@Url.Action("GetUnreadCount", "Notification")', function (response) {
                    const count = response.count;
                    const countElement = $('#notification-count');

                    if (count > 0) {
                        countElement.text(count);
                        countElement.removeClass('d-none');
                    } else {
                        countElement.addClass('d-none');
                    }
                });
            }

            function updateMessagesCount() {
                $.get('@Url.Action("GetUnreadCount", "Chat")', function (response) {
                    const count = response.count;
                    const countElement = $('#messages-count');

                    if (count > 0) {
                        countElement.text(count);
                        countElement.removeClass('d-none');
                    } else {
                        countElement.addClass('d-none');
                    }
                });
            }

            $(document).ready(function () {
                updateNotificationCount();
                updateMessagesCount();

                setInterval(updateNotificationCount, 300000);
                setInterval(updateMessagesCount, 10000);     
            });
        </script>
    }
</body>
</html>
